
	.Header
	{
		position: absolute;
		width:100%;
		height:27px;
		top: 0;
		left: 0;
		font-size: 14px;
		font-family:Nimbus Sans L; 
		color:white;
		background-color:#4FC7C6;
	}
	.LeftHeader
	{
		float: left;
		padding-left: 35px;
		padding-top: 5px; 
		height: 25px;
	}
	.RightHeader
	{
		float: right;
		padding-top: 5px;
		padding-right: 35px;
		height: 25px;
	}
	.Top
	{
		position: absolute;
		top:27px;
		width: 99%;
		height:81px;
		background-color:none;	
		border: 20px;
		border-color: black;
	}
	.Button
	{
		position: absolute;
		top:22px;
		left: 45px;
		height: 39px;
		width:120px;
		padding-top:2px; 
		background-color:#FF6375;
		color: white;
		border: 1px;
		font-family:Nimbus Sans L; 
	    font-weight: bolder;
	    font-size: 14px;
	    border-radius: 2px;
	}
	.Button:hover 
	{
    	background-color: #FF495F;
    	box-shadow: 0px 8px 6px -7px #ccc;
	}
	.Logo
	{
		position: absolute;
		top:0px;
		left:550px;

	}
	.Login
	{
		position: absolute;
		top:27px;
		right:55px;
		font-family:Nimbus Sans L; 
	    font-size: 18px;
	}
	ul 
	{
		position: absolute;
		top:93px;
	    list-style-type: none;
	    background-color:#aaeae9;
	    left:38px;
	}

	li 
	{
	    float: left;
	}
	li a 
	{
	    display: block;
	    color: black;
	    font-family:Nimbus Sans L; 
	    font-size: 14px;
	    font-weight: bold;
	    text-align: center;
	    padding: 18px 26px;
	    text-decoration: none;
	}
	li a:hover 
	{
	    background-color: #4FC7C6
	}
	.search-container 
	{
		margin-top:10px;
		margin-left: 373px;
  		float: right;
  		padding: 1px;
  		background-color: none;
	}
	.search-container input[type=text] 
	{
	    padding: 6px;
	    width: 220px;
	    margin-top: 3px;
	 	margin-right: 12px;
		border: 4px;
		font-size: 14px;
	}
	.MainBody
	{
		position: absolute;
		top:170px;
		font-family:Nimbus Sans L; 
	    font-size: 20px;
	    font-weight: bold;
	    text-align: left;
	}
	.Row1
	{
		padding-top: 10px;
		padding-left: 29px;
	}
	.Row2
	{
		top:100px;
		width:1250px;
		height:360px;
		background-color: none;
	}
	.Row2Left
	{
		padding-left: 27px;
		float: left;
	}
	.Row2Right
	{
		padding-right: 22px;
		float: right;
	}
	.dropbtn {
    	padding: 10px;
    	font-size: 16px;
		width:140px;
		background-color:white;
		color: black;
		border: 2px solid  #11546a ;
		border-radius: 2px;
		font-family:Nimbus Sans L; 
	    
}
	.filterbtn {
	    	padding: 9px;
	    	font-size: 16px;
			color: black;
			background-color: #ccccff;
			border: 1px solid black;
			font-family:Nimbus Sans L; 
	}
.Random{
	position: absolute;
	top:780px;
	left: 45px;
}
.dropdown_button {
	position: absolute;
	top : 680px;
	left : 45px;
}
.dropdown {
    position: relative;
    display: inline-block;
    font-family:Nimbus Sans L; 
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.Footer{
	position: absolute;
	top: 860px;
	left:45px;
	font-family:Nimbus Sans L; 
	font-size: 30px;
	font-weight: bold;
	
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #4FC7C6;
    color: black;
}
.Random {
	padding-left: 45px;
	height: 70px;
	width:999px;
	}
.clear {
		padding-left: 20px;
	    font-family:Nimbus Sans L; 
	    font-weight: bolder;
	    font-size: 14px;
	    color: #ff471a;
	    font-style: italic;
}
